.content-container {
    background-color: rgb(98, 153, 163);
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.50);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.5s ease-out;
}

